@media screen and (max-width: 1280px) {
 .dashboard {
  flex-wrap: wrap;
 }

 /* Header CSS Code */
 header {
  width: 100%;
  height: 10%;
  flex-direction: row;
  padding: 0 30px;
 }

 header .gnb {
  display: flex;
  justify-content: center;
 }

 header .gnb a {
  padding: 0 15px;
 }

 /* Graph-ui Content Style Code */
 .graph-ui {
  width: calc(65% - 20px);
  height: calc(90% - 10px);
  margin-top: 10px;
 }

 /* Table-ui Content Style Code */
 .table-ui {
  _width: 40%;
  height: calc(90% - 10px);
  margin-top: 10px;
 }
}

@media screen and (max-width: 950px) {

 /* Graph-ui Content Style Code */
 .graph-ui>div.each-pofol {
  height: 26%;
 }

 .graph-ui>div.total-pofol {
  height: 40%;
 }

 .chart {
  width: 100%;
  height: 100%;
 }

 .chart canvas {
  width: 85% !important;
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
}

@media screen and (max-width: 768px) {
 .wrapper {
  display: block;
  height: auto;
  min-height: auto;
 }

 .dashboard {
  width: 100%;
  height: 100%;
  border-radius: 15px;
 }

 header {
  padding: 15px;
 }

 /* Graph-ui Content Style Code */
 .graph-ui {
  width: 100%;
  height: auto;
  margin-top: 10px;
 }

 .graph-ui>div {
  width: 100%;
  height: auto;
  padding: 10px 0;
 }

 .graph-ui>div.each-pofol {
  height: auto;
 }

 .graph-ui .each-pofol .each-title {
  height: auto;
  padding: 10px 0 10px 5px;
 }

 .graph-ui .each-pofol .each-graph div {
  height: 120px;
 }

 .graph-ui div.intro .slide-box {
  border-radius: 15px;
 }

 /* Table-ui Content Style Code */
 .table-ui {
  width: 100%;
  height: auto;
  margin-top: 10px;
 }

 .chart {
  width: 100%;
  height: 100%;
 }

 .chart canvas {
  width: 75% !important;
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .graph-ui>div.total-pofol {
  height: 250px;
 }
}

@media screen and (max-width: 400px) {

 /* Header CSS Code */
 header .h2 {
  width: 20%;
 }

 header .gnb {
  display: none;
 }

 header .sign-out {
  display: none;
 }

 .custom-font {
  font-size: 28px;
  ;
 }

 .mobile-menu {
  display: block;
 }

 .graph-ui div.intro .slide-box {
  padding: 20px 50px;
  align-items: center;
 }

 .graph-ui div.intro h2 {
  font-size: 18px;
 }

 .graph-ui div.intro p {
  display: none;
 }

 .graph-ui div.intro a {}

 .graph-ui .each-pofol .each-graph {
  flex-wrap: wrap;
 }

 .graph-ui .each-pofol .each-graph div {
  width: calc(50% - 5px);
  margin-top: 10px;
 }
}